@import "tailwindcss";

@font-face {
    font-family: "Inter", sans-serif;
    src:
            url("src/assets/fonts/Inter_font.ttf") format("ttf"),
            url("src/assets/fonts/Inter_font.woff") format("woff"),
            url("src/assets/fonts/Inter-font.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

